.table {
    height: fit-content;
}
/*TABLE HEADER*/

/*FILTER*/
.table_header__filter_section {
    justify-content: space-between;
}

.search_input {
    width: 75%;
    height: 32px;
    padding: 8px 16px;

    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    transition: all 0.2s;

    font-size: 12px;
    line-height: 16px;

}

.search_input:focus {
    outline: 1px solid #66b2ff;
}

.button_filters {
    width: 20%;

    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
    background: white;
    transition: all 0.2s;

    font-size: 12px;
    line-height: 16px;

    color: #4C4C4C;
}

.button_filters:hover {
    background: #FAFAFA;
}

/*CREATE*/
.table_header__create_section {
    justify-content: flex-start;
}
.create_button {
    padding: 0!important;
    width: fit-content!important;
}

/*TABLE BODY*/
.table_body {
    margin-top: 30px;
}

.body_container {
    margin-bottom: 20px!important;
}
.body_header {
    background: #F2F2F2;
}
.row {

}

.cell {
    padding: 12px 24px!important;
    border-bottom: none!important;
}
.cell__delete_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f44336;
    transition: all 0.2s;
}
.cell__delete_button:hover {
    opacity: .6;
}

/*TABLE_PAGINATION*/
.table_pagination__wrapper {
    margin: 0 auto;
}