.table {
    height: fit-content;
}
/*TABLE HEADER*/
.table_header__right_item {
    justify-content: space-between;
}

.search_input {
    width: 75%;
    height: 32px;
    padding: 8px 16px;

    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    transition: all 0.2s;

    font-size: 12px;
    line-height: 16px;

}

.search_input:focus {
    outline: 1px solid #66b2ff;
}

.button_filters {
    width: 20%;

    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
    background: white;
    transition: all 0.2s;

    font-size: 12px;
    line-height: 16px;

    color: #4C4C4C;
}

.button_filters:hover {
    background: #FAFAFA;
}

/*TABLE BODY*/
.table_body {
    margin-top: 30px;
}

.body_container {
    margin-bottom: 20px!important;
}
.body_header {
    background: #F2F2F2;
}
.row {

}

.cell {
    padding: 12px 24px!important;
    border-bottom: none!important;
}

/*TABLE_PAGINATION*/
.table_pagination__wrapper {
    margin: 0 auto;
}