.nav {
    background: #F2F2F2;
    min-height: 100vh;
}
/*NAV ITEMS*/
.container {
    padding: 40px 0;
}
.container__title {
    text-align: center;
    width: 100%;
}
.items {
    padding: 32px;
    width: 100%;
    list-style: none;
}
/*NAV ITEM*/
.nav_items__item {
    list-style: none;
    height: fit-content;
    width: 100%;
    margin-bottom: 24px;
}
.nav_items__item:last-child {
    margin-bottom: 0
}
.item_link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;

    padding: 8px 32px;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.2s;
}
.item_link:hover {
    background: #ededed;
    color: #4C4C4C;
}
.item_link.active {
    background: #B4CD93;
    color: #4C4C4C;
}
.item_link.active:hover {
    background: #94a979;
}
.btn_logout {
    cursor: pointer;
    color: #A65959;
    border: none;
    text-align: start;
    padding: 8px 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    width: 100%;
    border-radius: 4px;
    transition: all 0.2s;
    background: none;
}
.btn_logout:hover {
    background: #EDDEDE;
}